<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1> 
    Welcome! <%= keyy1 %> and now the <%= keyy2 %> and <%= keyy3 %> date , <%= keyy4  %> year,
    <%= keyy5 %> month, <%= keyy6 %> hour , <%= keyy7 %> minutes and <%= keyy8 %> seconds.
</h1>

</body>
</html>